<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MD.PersianDateTime" version="4.5.0" targetFramework="net472" />
  <package id="MD.PersianDateTime.Standard" version="2.5.0" targetFramework="net472" />
  <package id="PersianDate" version="3.5.5" targetFramework="net472" />
  <package id="PersianDatePicker" version="1.1.0" targetFramework="net472" />
  <package id="PersianDateTime" version="1.1.5082.36395" targetFramework="net472" />
  <package id="PersianDateTime.Core" version="2.0.5" targetFramework="net472" />
</packages>